<div class="container mt-5">
  <section class="my-3">
    <div class="row text-center m-2 justify-content-center">
      <div class="col">
        <h4>Cards</h4>
      </div>
      <div class="col offset-md-6">
        <a
          target="_blank"
          matTooltip="Edit on Stackblitz"
          matTooltipPosition="above"
          href="https://stackblitz.com/edit/jj-cards"
          ><mat-icon svgIcon="electric_bolt">electric_bolt</mat-icon></a
        >
      </div>
    </div>
    <mat-divider></mat-divider>
  </section>
  <div class="row row-cols-2 gy-4">
    <div class="col">
      <mat-card class="elevated" style="height: 400px">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
        />
        <mat-card-content>
          <p></p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="filled" style="height: 400px">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
        />
        <mat-card-content>
          <p></p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="outline" style="height: 400px">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
        />
        <mat-card-content>
          <p></p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
