@import './palette.scss';
@include mat.core();

$jj-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    density: 0,
  )
);

// emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($jj-theme);

// emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
@include mat.all-component-themes($jj-theme);
//@include mat.button-theme($jj-theme);

button {
  & .mat-icon {
    & svg {
      margin-top: -4px; // vertically align svg icon inside button
    }
  }
}

.mat-raised-button,
.mat-stroked-button,
.mat-button {
  height: 40px;
  width: 98px;
  border-radius: 20px !important;
  padding: 10px, 24px !important;
}

// Cards
.mat-card.elevated {
  background-color: #FBFDF9;
  //box-shadow: 0px 2px 6px 2px #00000026;
  box-shadow: 0px 1px 2px 0px #0000004D;
}

.mat-card.elevated:hover {
  box-shadow: 0px 2px 6px 2px #00000026;
}

.mat-card.filled {
  background-color: #DBE5DE;
}

.mat-card.filled:hover {
  box-shadow: 0px 2px 6px 2px #00000026;
  //box-shadow: 0px 1px 2px 0px #0000004D;
}

.mat-card.outline {
  background-color: #FBFDF9;
  outline: #707974 solid 1px;
}

.mat-card.outline:hover {
  outline: #006C51 solid 1px;
}